.index {
  position: relative;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.test {
  position: relative;
  height: 500px;
  text-align: center;
  background-color: aquamarine;
  border: 1px solid orange;
}
