.index {
  line-height: 500px;
  position: absolute;
  height: 500px;
  text-align: center;
  width: 100%;
}
.test {
  position: relative;
  height: 500px;
  text-align: center;
  background-color: aquamarine;
  border: 1px solid orange;
}
