.sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 49.6px;
  display: flex;
}

li {
  float: left;
  border-right: 1px solid #bbb;
  display: block;
  color: white;
  height: 100%;
  width: 5%;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  text-decoration: none;
}

li:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
